--extra-index-url https://download.pytorch.org/whl/cu118

numpy==1.26.4
pandas==2.2.3
scipy==1.13.1
matplotlib==3.9.2
seaborn==0.13.2
opencv-python-headless==4.10.0.84
scikit-image==0.24.0
PyYAML==6.0.2
tqdm==4.67.1
pytest==8.3.4
torch==2.2.2+cu118
torchvision==0.17.2+cu118
